*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

header {
    /*ancho*/
    width: 100%;
    /*altura*/
    height: 600px;
    /*color del fondo*/
    background: linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(123, 45%, 52%, 0.664));
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(273, 45%, 52%, 0.664));
    /*imagen de fondo*/
    background-image: url(../img/portada.jpg);
    /*hace que la imagen de fondo cubra todo el encabezado sin repetirse*/
    background-size: 100% 100%;
    /*fondo fijo para que permanezca estático mientras se desplaza el contenido*/
    background-attachment: fixed;
    /*posición que permite desplazar*/
    position: relative;
}

/* Agrega un div para contener el contenido del encabezado */
.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}


/* Estilos generales para el contenedor */
.contenedor {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 30px 0; /* Reduciendo el padding para dispositivos móviles */
}

/* Estilos para el contenido del encabezado */
.head {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
}

/* Estilos para el logo */
.logo {
    margin: 0 auto;
    display: block;
    max-width: 80%; /* Reducción del tamaño del logo para dispositivos móviles */
    height: auto;
}

/* Estilos para el título */
.titulo {
    font-size: 40px; /* Disminución del tamaño del título para dispositivos móviles */
    margin-bottom: 10px; /* Ajuste del espaciado inferior */
}

/* Estilos para el texto de copia */
.copy {
    font-weight: 300;
    font-size: 18px; /* Disminución del tamaño del texto de copia para dispositivos móviles */
}

/* Estilos para los subtítulos */
.subtitulo {
    color: #9f8ad0;
    font-size: 30px; /* Disminución del tamaño del subtítulo para dispositivos móviles */
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px; /* Ajuste del espaciado inferior */
}

/* Estilos adicionales para dispositivos móviles */
@media screen and (max-width: 767px) {
    .contenedor {
      padding: 20px 0; /* Reducción del padding para dispositivos móviles más pequeños */
    }
    .titulo {
      font-size: 32px; /* Ajuste del tamaño del título para dispositivos móviles más pequeños */
    }
    .copy {
      font-size: 16px; /* Ajuste del tamaño del texto de copia para dispositivos móviles más pequeños */
    }
    .subtitulo {
      font-size: 26px; /* Ajuste del tamaño del subtítulo para dispositivos móviles más pequeños */
    }
}