/* Resto de los estilos para la sección, contenedor de video y botón de reproducción */
/* Estilos para la sección del video */
.video-section {
    text-align: center;
    margin: 50px 0;
}

/* Estilos para el contenedor del video */
.video-container {
    position: relative;
    width: 100%;
    max-width: 600px; /* Ancho máximo del contenedor del video */
    margin: 0 auto; /* Centrar el contenedor en la página */
    padding-bottom: 30%; /* Proporción para un tamaño más reducido */
    overflow: hidden;
    border: 4px solid #f00; /* Ancho y color del borde */
    border-radius: 8px; /* Borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra alrededor del marco */
    margin-bottom: 20px; /* Espaciado inferior para separar del contenido */
}


/* Estilos para el iframe del video */
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Estilos específicos para dispositivos móviles utilizando @media query */
@media screen and (max-width: 768px) {
    .video-container {
        padding-bottom: 56.25%; /* Proporción 16:9 para el video responsivo en dispositivos móviles */
    }
}
